<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unauthorized Access</title>
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
       
  </head>

  <body style ="background-image: url('/static/images/krusty_krab.jpg');background-size: cover;">

    <div class="container">
      <div class="header">
        <nav>
           <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/showSignIn">Sign In</a></li>
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron" style ="background-repeat: no-repeat;background-position: right; background-color:aqua; background: rgba(0,255,255, 0.8);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);">
        <h1>{{error}}</h1>        
      </div>
      
   
    </div>
  </body>
</html>
