<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Blog App</title>
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
</head>
 
<body style ="background-image: url('/static/images/krusty_krab.jpg');background-size: cover;">
  
 
</br>
</br>
   
    <div class="container">
   
        <div class="jumbotron" style ="background-image: url('/static/images/krabs.gif'); background-repeat: no-repeat;background-position: right; background-color:aqua;">
            <img src='/static/images/kem.png'/>
            <p class="lead"></p>
            </br>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up</a>&nbsp;&nbsp;
            <a class="btn btn-lg btn-success" href="showSignIn" role="button" style='background-color:blue;'>Sign In</a>&nbsp;&nbsp;
            <a class="btn btn-lg btn-success" href="instruction" role="button" style="background-color:red; text-align: center;">Instructions</a>
        </div>
    </div>
    <div class="col-md-11 text-center">
    
	</div>
</body>
 
</html>
