<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Blog App</title>
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <link href="/static/css/signup.css" rel="stylesheet">

<style>
.margin {
    margin-top: 5px;
    margin-bottom: 15px;
}

</style>
</head>
 
<body style ="background-image: url('/static/images/krusty_krab.jpg');background-size: cover;" onload="setInterval(get_gif,3000)">
	  <div class="container">
	  
		<div class="header">
			<nav>
					<br/>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" ><a href="/showSignIn">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
      </div>  
 		
	 <div class="jumbotron margin" style="background-repeat: no-repeat;background-position: right; background-color:aqua; background: rgba(0,255,255, 0.8);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);" height=300 width=300>
		<div class="margin container row" 	>
		<img class="col-sm-6" src ='/static/images/1.gif' id="gif-container"  height=300 width=150 />
		<div class="col-sm-6" >
			<br/>
			<br/>
			<img src="/static/images/instructions.png" >
			<br/>
			<br/>
    
		</div>
			
	</div>
	</div>
	<script>
		function get_gif(){
			var container = document.getElementById("gif-container");
			xhr= new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					container.src = this.responseText;
				}			
 	      	 };
				
				xhr.open("GET", "http://localhost:5000/intro_gif", true);
				xhr.setRequestHeader('cache-control', 'no-cache, must-revalidate, post-check=0, pre-check=0');
				xhr.setRequestHeader('cache-control', 'max-age=0');
				xhr.setRequestHeader('expires', '0');
				xhr.setRequestHeader('expires', 'Tue, 01 Jan 1980 1:00:00 GMT');
				xhr.setRequestHeader('pragma', 'no-cache');
 		       	xhr.send();
 		    };
			


	</script>
</body>
 
</html>
