<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Kemistry Krab</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
            .margin {
                margin-top: 5px;
                margin-left:10;
                margin-bottom: 5px;
                margin-right:10px;
            }
            
     
            </style>
</head>
 
<body style ="background-image: url('/static/images/krusty_krab.jpg');background-size: cover;" onload="start()">
  
    <div class="container" >
            <div class="header" >
      
              <nav >
                
      
                <ul class="nav nav-pills pull-right" >
                  <li role="presentation"><h4 >{{user}}&nbsp;</h4></li>  
                  <li role="presentation" ><a href="/userHome">Home</a></li>                  
                  <li role="presentation" ><a href="/logout">Logout</a></li>
                </ul>
              </nav>
            </div>
<br>
<br>
<br>
<br>
        <div class="card centered" style="width:400px;margin-left:350px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);">
                
            <div class="card-body" style="width:200px;margin-left:100px;margin-bottom:50px;">
                    <h4 id="question" class="card-title text-center" >Question</h4><br>
                <a href="#" class="card-text btn btn-lg  btn-primary btn-block margin" id="1" onclick="check_answer('1')">1</a>
                <a href="#" class="card-text btn btn-lg btn-primary btn-block" id="2" onclick="check_answer('2')">2</a>
                <a href="#" class="card-text btn btn-lg btn-primary btn-block" id="3" onclick="check_answer('3')">3</a>
                <a href="<p>Some text in the modal.</p>#" class="card-text btn btn-lg btn-primary btn-block" id="4" onclick="check_answer('4')">4</a>
                <br>
            </div>
        </div>
    
                    
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content"  style ="background-image: url('/static/images/floral.jpeg');background-size: cover;">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center" id="modalh" style="color:blue;">Gary is Happy!</h3>
                    </div>
                    <div class="modal-body">
                    <img src="" id = "modalimg" height=200 width=200 style="margin-left:150px;">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
            </div>
        </div>
    

</body>
<script>
        var rights = 0;
        var wrongs = 0;
        var question_count = -1;
        var data_arr = NaN;
        var counter = 0;
        xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function (){
           
            if(this.readyState == 4 && this.status == 200){
                    data_arr = JSON.parse(this.responseText);
                     put_data();    
                }		
            
        }
    function start(){
        xhr.open("GET", "http://localhost:5000/quiz_info?question_count="+question_count, true);
        question_count = question_count + 1;
        xhr.send();
        
    }

    function put_data()
    {
        if(counter >= data_arr.length){
            counter = 0;
            start();
        }
       
        var q = document.getElementById("question");
        q.innerText =  data_arr[counter]["q"];

        var op1 = document.getElementById("1");
        op1.innerText =  data_arr[counter][1];

        var op2 = document.getElementById("2");
        op2.innerText =  data_arr[counter][2];

        var op3 = document.getElementById("3");
        op3.innerText =  data_arr[counter][3];

        var op4 = document.getElementById("4");
        op4.innerText =  data_arr[counter][4];
        

    }

    function check_answer(id){
        if(id == data_arr[counter]['r']){
            rights = rights + 1;
            if(rights % (counter+2) == 0){
                $("#modalimg").attr('src', "/static/images/happy.gif");
                $("#modalh").text("Gary is Happy!");
                $("#myModal").modal();
                console.log("Gary is happy!");
            }
        }
        else{
           wrongs = wrongs + 1;
           if(wrongs > 3){
               question_count = -1;
               wrongs = 0;
               $("#modalimg").attr('src', "/static/images/sad.gif");
               $("#modalh").text("Gary is Sad!");
                $("#myModal").modal();
                console.log("Gary is sad!");
           }
        }
        counter = counter + 1;
        put_data();
       
    }
    
    </script>

</html>
