<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
      
  </head>

  <body style ="background-image: url('/static/images/krusty_krab.jpg');background-size: cover;">

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>Welcome Home !!</h1>
       
      </div>      

    </div>
  </body>
</html>
